/*fonts*/
@font-face {
  font-family: 'mt001';
  src: url('../fonts/mt001-webfont.eot');
  src: url('../fonts/mt001-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/mt001-webfont.woff2') format('woff2'),
  url('../fonts/mt001-webfont.woff') format('woff'),
  url('../fonts/mt001-webfont.ttf') format('truetype'),
  url('../fonts/mt001-webfont.svg#ef_001regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mt002';
  src: url('../fonts/mt002-webfont.eot');
  src: url('../fonts/mt002-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/mt002-webfont.woff2') format('woff2'),
  url('../fonts/mt002-webfont.woff') format('woff'),
  url('../fonts/mt002-webfont.ttf') format('truetype'),
  url('../fonts/mt002-webfont.svg#ef_001regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*generic*/
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 120%;
  }
  body {
    font-size: 21px;
    background: #f5f5f5;
    color: #4f4f4f;
    margin: 0 auto;
    font-family: 'mt001';
    letter-spacing: -0.5px;
    line-height: 1.2;
  }
  h1, strong {
    font-family: 'mt002';
    font-weight: normal;
  }
/*structure*/
  body > header {
    background-color: #4f4f4f;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 12px;
  }
  body > header ul {
    list-style: none;
  }
  body > header > ul > li {
    display: inline-block;
    padding-right: 6px;
  }
  body > header > ul > li a {
    color: #fff;
  }
  main {
    margin: 12% auto 12% auto;
    max-width: 1500px;
    padding-left: 90px;
    padding-right: 72px;
  }
  [type="intro"], footer {
    font-size: 75px;
    display: block;
  }
  [type="intro"] {
    padding-bottom: 36px;
  }
  footer ul {
    list-style: none;
  }
  section p, section ul {
    padding-bottom: 24px;
  }
  section ul {
    list-style: none;
    font-size: 18px;
  }
  section li {
    padding: 0 0 3px 24px;
  }
  section li:before {
    content: "-";
    color: #4f4f4f;
    font-weight: 700;
    text-indent: -24px;
    display: inline-block;
  }
  section header h1 {
    margin-bottom: 12px;
  }
  [type="block"] {
    max-width: 1100px;
    display: block;
    margin-bottom: 36px;
  }
  [type="panel"] {
    display: inline-block;
    vertical-align: top;
    margin-right: 18px;
  }
  [type="panel"] picture {
    padding: 12px;
    background: rgba(255,255,255,0.34);
    display: block;
    margin-bottom: 18px;
  }
  [type="panel"] picture img {
    max-width: 100%;
  }
  a {
    color: #4f4f4f;
    text-decoration: none;
    border-bottom: 3px solid #00bcd4;
  }
  hr {
    content: "";
    display: block;
    width: 120px;
    height: 12px;
    background: #dbdbdb;
    margin-top: 36px;
    margin-bottom: 60px;
    border: 0;
  }
/*icons*/
  [icon-type="logo"]::before {
    background: url('../images/icon-logo.svg') 0% 50% / 100% 100% no-repeat;
    content: "";
    display: block;
    width: 120px;
    height: 115px;
    margin-bottom: 30px;
  }
  [icon-type="ring"]::before {
    background: url('../images/icon-ring.svg') 0% 50% / 100% 100% no-repeat;
    content: "";
    display: block;
    width: 280px;
    height: 76px;
    margin-bottom: -56px;
    margin-left: -20px;
    opacity: 0.34;
    position: relative;
    z-index: -1;
  }
  [prominence="2"] {
    width: calc(49% - 18px);
  }
  [prominence="3"] {
    width: calc(32.5% - 18px);
  }
/*responsive*/
  @media only screen and (max-width: 1500px) {
    [type="intro"], footer {
      font-size: 55px;
    }
  }
  @media only screen and (max-width: 1200px) {
    [prominence="3"] {
      width: calc(49% - 18px);
    }
  }
  @media only screen and (max-width: 850px) {
    body {
      font-size: 18px;
    }
    [prominence="2"],
    [prominence="3"] {
      width: 100%;
    }
    [type="intro"], footer, section header h1 {
      font-size: 36px;
    }
    [type="panel"] {
      margin-right: 0px;
    }
    main {
      padding-left: 12%;
      padding-right: 12%;
    }
  }
  @media only screen and (max-width: 480px) {
    main {
     /* padding-left: 15px;
      padding-right: 15px;*/
      padding-top: 15%;
    }
    body, section ul, footer ul {
      font-size: 15px;
    }
    [type="intro"], footer, section header h1 {
      font-size: 21px;
    }
    hr {
      margin-top: 0px;
      margin-bottom: 36px;
    }
  }
/*print*/
  @media only print {
    body {
      font-size: 12px;
    }
    body > header {
      display: none;
    }
    [type="intro"], footer {
      font-size: 27px;
      display: block;
    }
    [type="intro"] {
      padding-bottom: 15px;
    }
    section header h1 {
      margin-bottom: 6px;
    }
    section p, section ul {
      margin-bottom: 6px;
      padding-bottom: 0px;
      font-size: 12px;
    }
    hr {
      display: block;
      width: 60px;
      height: 6px;
      margin-top: 6px;
      margin-bottom: 12px;
    }
    [type="panel"] {
      width: calc(32.5% - 18px);
    }
    [type="block"] {
      padding-bottom: 6px;
      margin: 0px;
    }
    section {
      padding: 0px;
      margin: 0px;
    }
    [icon-type="logo"]::before {
      width: 60px;
      height: 57px;
      margin-bottom: 15px;
    }
    [icon-type="ring"]::before {
      width: 120px;
      height: 35px;
      margin-bottom: -26px;
      margin-left: -10px;
    }
    [print="page-break"] {
      page-break-after: always;
    }
  }